<a href="https://colab.research.google.com/github/pei416/bigdata/blob/master/0309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數練習

In [4]:
a <- 5
b <- 3.8
c <- -1

In [5]:
str(a)
str(b)
str(c)

 num 5
 num 3.8
 num -1

In [6]:
is.numeric(a)

[1] TRUE

In [8]:
is.integer(a)

[1] FALSE

In [12]:
 d <-"Hello"
 e <-"Hi"

In [13]:
str(d)
str(e)

 chr "Hello"
 chr "Hi"

In [15]:
f<- c(5,4,3,2,1)
g<- c("蔡英文","賴清德","蘇貞昌")

In [18]:
f[4]

[1] 2

In [20]:
g[2]

[1] "賴清德"

In [21]:
g[c(1,2)]

[1] "蔡英文" "賴清德"

In [22]:
h <- c(1,2,3,4,5,6,7,8,9)
i <- c(2,3,4,5,6,7,8,9,10)

In [25]:
h * i

[1]  2  6 12 20 30 42 56 72 90

In [26]:
h^2

[1]  1  4  9 16 25 36 49 64 81

In [27]:
h^3

[1]   1   8  27  64 125 216 343 512 729

In [28]:
i > 3

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [30]:
gender <- c("男","女","男","女","中")

In [31]:
gender

[1] "男" "女" "男" "女" "中"

In [32]:
gender <- factor(gender)

In [33]:
gender

[1] 男 女 男 女 中
Levels: 中 女 男

In [34]:
j <- matrix(c(1:6), nrow=3, ncol=2)

In [36]:
j

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [37]:
k<-matrix(c(7:12), nrow=2, ncol=3)

In [38]:
k

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

In [39]:
j[2,2]

[1] 5

In [41]:
j[,2]

[1] 4 5 6

In [42]:
install.packages("SportsAnalytics")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [43]:
library(SportsAnalytics)

In [44]:
NBA1516 <- fetch_NBAPlayerStatistics("15-16")

In [45]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [46]:
head(NBA1516)

  League Name          Team Position GamesPlayed TotalMinutesPlayed
1 NBA    Quincy Acy    SAC  SF       59           877
2 NBA    Jordan Adams  MEM  SG        2            15
3 NBA    Steven Adams  OKL  C        80          2019
4 NBA    Arron Afflalo NYK  SG       71          2359
5 NBA    Alexis Ajinca NOR  C        59           863
6 NBA    Cole Aldrich  LAC  C        60           802
  FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
1 119            214                 19          49             ⋯ 29
2   2              6                  0           1             ⋯  3
3 261            426                  0           0             ⋯ 42
4 354            799                 91         238             ⋯ 25
5 150            314                  0           1             ⋯ 19
6 134            225                  0           0             ⋯ 47
  Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
1 27        24     103           0                 307         3
2  2         0       2           0                   7         0
3 84        89     223           2                 636         2
4 82        10     142           1                 909         1
5 54        36     134           0                 352         2
6 64        68     139           1                 328         0
  Ejections FlagrantFouls GamesStarted
1 0         0             29
2 0         0              0
3 0         0             80
4 0         0             57
5 0         0             17
6 0         0              5

In [47]:
subset(NBA1516,Team=="NYK")

    League Name             Team Position GamesPlayed TotalMinutesPlayed
4   NBA    Arron Afflalo    NYK  SG       71          2359
12  NBA    Lou Amundson     NYK  PF       29           199
20  NBA    Th Antetokounmpo NYK  SF        3             7
21  NBA    Carmelo Anthony  NYK  SF       72          2529
76  NBA    Jose Calderon    NYK  PG       72          2021
128 NBA    Cleanthony Early NYK  SF       17           155
145 NBA    Jimmer Fredette  NYK  PG        6            17
148 NBA    Langsto Galloway NYK  PG       82          2032
165 NBA    Jerian Grant     NYK  PG       76          1241
272 NBA    Robin Lopez      NYK  C        82          2213
337 NBA    Kyle O'quinn     NYK  PF       65           761
361 NBA    Krista Porzingis NYK  PF       72          2050
393 NBA    Kevin Seraphin   NYK  PF       48           530
423 NBA    Lance Thomas     NYK  SF       59          1323
443 NBA    Sasha Vujacic    NYK  SG       61           910
460 NBA    Derrick Williams NYK  PF       80          1442
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
4   354             799                 91        238             ⋯ 25
12   19              52                  0          0             ⋯  6
20    3               4                  0          1             ⋯  0
21  567            1307                105        310             ⋯ 62
76  209             455                 84        203             ⋯ 63
128  12              40                  4         15             ⋯  2
145   2               5                  1          2             ⋯  1
148 231             588                 77        224             ⋯ 77
165 148             382                 22         99             ⋯ 48
272 357             662                  0          1             ⋯ 16
337 129             271                  5         22             ⋯ 20
361 373             886                 81        243             ⋯ 52
393  84             205                  0          2             ⋯  8
423 169             382                 44        109             ⋯ 22
443 106             277                 52        143             ⋯ 34
460 254             565                 44        150             ⋯ 30
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
4    82        10    142           1                  909        1
12   15         7     44           1                   52        1
20    0         0      2           0                    6        0
21  176        38    180           1                 1573        4
76   87         7    135           1                  544        2
128   9         3     16           1                   31        0
145   2         0      2           0                    9        0
148  61        22    177           2                  625        0
165  85        10     95           0                  412        0
272 133       129    182           2                  842        3
337  61        49    107           0                  309        1
361 121       134    205           2                 1028        1
393  43        36     67           0                  187        0
423  57         7    109           2                  484        0
443  44         5     83           0                  296        1
460  61         9     69           0                  746        0
    Ejections FlagrantFouls GamesStarted
4   0         0             57
12  0         0              0
20  0         0              0
21  0         0             72
76  0         0             72
128 0         0              2
145 0         0              0
148 0         0              7
165 0         0              6
272 0         0             82
337 0         0              1
361 0         0             72
393 0         0              0
423 0         0              5
443 0         0             25
460 0         0              9

In [48]:
subset(NBA1516,Team=="LAC")

    League Name             Team Position GamesPlayed TotalMinutesPlayed
6   NBA    Cole Aldrich     LAC  C        60           802
29  NBA    Jeff Ayres       LAC  PF       16            95
101 NBA    Jamal Crawford   LAC  SG       79          2126
110 NBA    Branden Dawson   LAC  SF        6            28
171 NBA    Jeff Green       LAC  SF       80          2258
172 NBA    Blake Griffin    LAC  PF       35          1171
236 NBA    Wesley Johnson   LAC  SG       80          1664
242 NBA    Deandre Jordan   LAC  C        77          2600
285 NBA    Luc Mbah_a_moute LAC  SF       75          1278
349 NBA    Chris Paul       LAC  PG       74          2425
355 NBA    Paul Pierce      LAC  SF       68          1235
366 NBA    Pablo Prigioni   LAC  PG       59           816
370 NBA    J.j. Redick      LAC  SG       75          2098
373 NBA    Austin Rivers    LAC  SG       67          1466
457 NBA    C.j. Wilcox      LAC  SG       23           168
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
6   134             225                  0          0             ⋯  47
29   10              21                  0          1             ⋯   0
101 379             940                117        345             ⋯  52
110   2               5                  0          0             ⋯   0
171 354             824                 67        213             ⋯  58
172 301             604                  6         18             ⋯  28
236 208             515                103        309             ⋯  89
242 357             507                  0          1             ⋯  52
285  94             207                 13         40             ⋯  44
349 515            1114                122        329             ⋯ 151
355 144             397                 75        242             ⋯  33
366  55             147                 28         95             ⋯  53
370 422             880                200        420             ⋯  42
373 226             516                 62        185             ⋯  48
457  26              66                  9         23             ⋯  10
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
6    64        68    139           1                  328         0
29    5         0     16           0                   24         0
101 113        12    122           0                 1120         3
110   0         1      2           0                    5         0
171  93        40    164           0                  939         0
172  83        17     95           0                  749         7
236  54        56    173           1                  549         0
242 107       176    207           1                  980        10
285  34        19    100           0                  231         0
349 193        13    185           0                 1446         7
355  58        17    129           0                  417         1
366  49         1     82           0                  145         0
370  79         5    135           0                 1226         1
373  61        10    137           1                  593         2
457   2         2     15           0                   70         0
    Ejections FlagrantFouls GamesStarted
6   0         0              5
29  0         0              0
101 0         0              5
110 0         0              0
171 0         0             41
172 0         0             35
236 0         0              9
242 0         0             77
285 0         0             61
349 0         0             74
355 0         0             38
366 0         0              3
370 0         0             75
373 0         0              7
457 0         0              0

In [49]:
NBA1516[grepl("Curry",NBA1516$Name),]

    League Name          Team Position GamesPlayed TotalMinutesPlayed
105 NBA    Seth Curry    SAC  SG       44           694
106 NBA    Stephen Curry GSW  PG       79          2705
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
105 102             224                 50        111             ⋯  22
106 805            1597                402        887             ⋯ 169
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
105  36        3      41           0                  299        0
106 261       16     161           0                 2375        1
    Ejections FlagrantFouls GamesStarted
105 0         0              9
106 0         0             79

In [50]:
subset(NBA1516,Position=="SG")

    League Name             Team Position GamesPlayed TotalMinutesPlayed
2   NBA    Jordan Adams     MEM  SG        2            15
4   NBA    Arron Afflalo    NYK  SG       71          2359
10  NBA    Tony Allen       MEM  SG       64          1622
14  NBA    Alan Anderson    WAS  SG       13           193
15  NBA    James Anderson   SAC  SG       51           721
16  NBA    Justin Anderson  DAL  SG       55           644
32  NBA    Leandro Barbosa  GSW  SG       68          1079
37  NBA    Will Barton      DEN  SG       82          2355
42  NBA    Kent Bazemore    ATL  SG       75          2077
43  NBA    Bradley Beal     WAS  SG       55          1709
54  NBA    Bojan Bogdanovic BRO  SG       79          2114
57  NBA    Devin Booker     PHO  SG       76          2110
62  NBA    Corey Brewer     HOU  SG       82          1670
66  NBA    Markel Brown     BRO  SG       62           989
67  NBA    Kobe Bryant      LAL  SG       66          1861
73  NBA    Jimmy Butler     CHI  SG       67          2473
77  NBA    Ke Caldwell-pope DET  SG       76          2789
81  NBA    Vince Carter     MEM  SG       60          1009
88  NBA    Ian Clark        GSW  SG       66           579
95  NBA    Pat Connaughton  POR  SG       34           147
101 NBA    Jamal Crawford   LAC  SG       79          2126
104 NBA    Jared Cunningham MIL  SG       45           415
105 NBA    Seth Curry       SAC  SG       44           694
107 NBA    Troy Daniels     CHA  SG       43           478
112 NBA    Bry Dejean-jones NOR  SG       11           271
116 NBA    Demar Derozan    TOR  SG       78          2804
121 NBA    Goran Dragic     MIA  SG       72          2362
123 NBA    Jared Dudley     WAS  SG       81          2098
126 NBA    Mike Dunleavy    CHI  SG       31           702
129 NBA    Jarell Eddie     WAS  SG       26           147
⋮   ⋮      ⋮                ⋮    ⋮        ⋮           ⋮
363 NBA    Norman Powell    TOR  SG       49           729
364 NBA    Phil Pressey     PHO  SG       22           280
370 NBA    J.j. Redick      LAC  SG       75          2098
372 NBA    Josh Richardson  MIA  SG       52          1105
373 NBA    Austin Rivers    LAC  SG       67          1466
374 NBA    Andre Roberson   OKL  SG       70          1552
385 NBA    Brandon Rush     GSW  SG       72          1050
388 NBA    Jakarr Sampson   DEN  SG       73          1166
392 NBA    Thabo Sefolosha  ATL  SG       75          1749
395 NBA    Iman Shumpert    CLE  SG       54          1319
396 NBA    Jonathon Simmons SAN  SG       55           811
403 NBA    J.r. Smith       CLE  SG       77          2367
410 NBA    Nik Stauskas     PHI  SG       73          1798
420 NBA    Garrett Temple   WAS  SG       80          1951
421 NBA    Jason Terry      HOU  SG       72          1261
424 NBA    Hollis Thompson  PHI  SG       77          2158
426 NBA    Klay Thompson    GSW  SG       80          2661
428 NBA    Marcus Thornton  WAS  SG       61          1110
430 NBA    Axel Toupane     DEN  SG       21           307
433 NBA    Evan Turner      BOS  SG       81          2270
439 NBA    Rashad Vaughn    MIL  SG       70          1000
443 NBA    Sasha Vujacic    NYK  SG       61           910
444 NBA    Dwyane Wade      MIA  SG       74          2258
445 NBA    Dion Waiters     OKL  SG       78          2157
451 NBA    Sonny Weems      PHI  SG       43           501
457 NBA    C.j. Wilcox      LAC  SG       23           168
461 NBA    Elliot Williams  MEM  SG        5            46
462 NBA    Louis Williams   LAL  SG       67          1911
470 NBA    Tony Wroten      PHI  SG        8           145
471 NBA    James Young      BOS  SG       29           200
    FieldGoalsMade FieldGoalsAttempted ThreesMade ThreesAttempted ⋯ Steals
2     2               6                  0          1             ⋯   3
4   354             799                 91        238             ⋯  25
10  215             469                 15         42             ⋯ 109
14   21              59                 12         37             ⋯   4
15   67             178                 23         86             ⋯  21
16   71             176                 22         83             ⋯  19
32  171             370                 39        111             ⋯  44
37  426             984                112        324             ⋯  71
42  320             724                109        304             ⋯  98
43  359             799                105        271             ⋯  54
54  324             749                129        337             ⋯  29
57  367             867                 99        289             ⋯  44
62  212             552                 61        225             ⋯  84
66  127             322                 38        121             ⋯  38
67  398            1112                133        466             ⋯  62
73  470            1034                 64        206             ⋯ 110
77  403             960                114        368             ⋯ 110
81  133             343                 59        169             ⋯  38
88   89             202                 30         84             ⋯  17
95   13              49                  5         21             ⋯   2
101 379             940                117        345             ⋯  52
104  36             105                 12         39             ⋯  14
105 102             224                 50        111             ⋯  22
107  89             187                 59        122             ⋯  11
112  27              67                 11         30             ⋯  10
116 614            1377                 47        139             ⋯  82
121 417             875                 64        205             ⋯  71
123 233             487                100        239             ⋯  75
126  77             188                 39         99             ⋯  14
129  20              65                 15         47             ⋯   5
⋮   ⋮              ⋮                   ⋮          ⋮               ⋱ ⋮
363  97             229                 36         88             ⋯ 29
364  30              77                  4         17             ⋯ 17
370 422             880                200        420             ⋯ 42
372 123             272                 53        115             ⋯ 36
373 226             516                 62        185             ⋯ 48
374 136             274                 32        103             ⋯ 54
385 111             260                 65        157             ⋯ 21
388 140             318                 14         63             ⋯ 23
392 188             374                 42        125             ⋯ 84
395 114             305                 43        146             ⋯ 54
396 122             241                 18         47             ⋯ 24
403 353             849                204        510             ⋯ 81
410 210             542                106        324             ⋯ 44
420 201             505                 89        257             ⋯ 69
421 151             376                 93        261             ⋯ 47
424 270             681                149        393             ⋯ 36
426 651            1386                276        648             ⋯ 60
428 216             542                 91        271             ⋯ 47
430  25              70                 13         40             ⋯  7
433 343             753                 20         83             ⋯ 80
439  82             266                 44        147             ⋯ 29
443 106             277                 52        143             ⋯ 34
444 540            1183                  7         44             ⋯ 79
445 282             705                 86        241             ⋯ 81
451  42             111                 15         42             ⋯ 10
457  26              66                  9         23             ⋯ 10
461   2              10                  1          4             ⋯  1
462 283             695                110        321             ⋯ 62
470  22              65                  3         17             ⋯  3
471  11              36                  6         26             ⋯  6
    Turnovers Blocks PersonalFouls Disqualifications TotalPoints Technicals
2     2        0       2           0                    7        0
4    82       10     142           1                  909        1
10   78       18     175           1                  535        1
14    2        1      25           0                   65        0
15   42       14      54           0                  179        0
16   24       25      45           0                  208        0
32   53       10     107           0                  433        1
37  139       39     147           0                 1180        2
42  138       38     176           2                  872        4
43  112       11     117           0                  958        0
54  115        5     119           0                  887        2
57  160       20     225           5                 1048        0
62   78       19     168           1                  590        0
66   54       15      94           1                  363        1
67  130       13     115           0                 1161        1
73  132       43     124           1                 1399        1
77  105       17     167           0                 1105        3
81   35       16     101           0                  395        1
88   43       13      58           0                  236        1
95   10        0       6           0                   36        0
101 113       12     122           0                 1120        3
104  21        2      42           0                  120        0
105  36        3      41           0                  299        0
107  24        3      40           0                  242        0
112  11        2      16           0                   76        0
116 174       21     167           0                 1830        2
121 185       17     188           1                 1018        1
123  80       18     190           1                  638        1
126  26       10      66           0                  222        0
129   1        1       5           0                   63        0
⋮   ⋮         ⋮      ⋮             ⋮                 ⋮           ⋮
363  32       10      59           0                  273        0
364  33        4      28           0                   77        0
370  79        5     135           0                 1226        1
372  35       25     107           0                  341        0
373  61       10     137           1                  593        2
374  35       42     133           0                  337        1
385  33       23      57           1                  305        0
388  70       33     142           1                  374        2
392  68       37     109           0                  480        0
395  56       19     119           1                  311        1
396  53        5     103           0                  331        0
403  59       21     204           1                  955        3
410  93       20     111           0                  617        0
420  64       18     195           3                  582        0
421  49        9      91           0                  422        1
424  76       24     187           2                  758        0
426 138       50     152           0                 1771        0
428  51        4      90           0                  590        0
430   6        6      40           0                   76        0
433 169       28     139           0                  854        2
439  28       16      73           0                  220        0
443  44        5      83           0                  296        1
444 203       42     116           0                 1409        3
445 120       15     143           0                  762        4
451  41        1      47           0                  107        0
457   2        2      15           0                   70        0
461   1        0       2           0                    8        0
462 107       19     107           1                 1028        1
470  29        0      11           0                   67        0
471   5        1      17           0                   29        0
    Ejections FlagrantFouls GamesStarted
2   0         0              0
4   0         0             57
10  0         0             56
14  0         0              0
15  0         0             15
16  0         0              9
32  0         0              0
37  0         0              1
42  0         0             68
43  0         0             35
54  0         0             39
57  0         0             51
62  0         0             12
66  0         0              6
67  0         0             66
73  0         0             67
77  0         0             76
81  0         0              3
88  0         0              1
95  0         0              0
101 0         0              5
104 0         0              3
105 0         0              9
107 0         0              0
112 0         0             11
116 0         0             78
121 0         0             72
123 0         0             41
126 0         0             30
129 0         0              0
⋮   ⋮         ⋮             ⋮
363 0         0             24
364 0         0              0
370 0         0             75
372 0         0              2
373 0         0              7
374 0         0             70
385 0         0             25
388 0         0             40
392 0         0             11
395 0         0              5
396 0         0              2
403 0         0             77
410 0         0             35
420 0         0             43
421 0         0              7
424 0         0             17
426 0         0             80
428 0         0              8
430 0         0              0
433 0         0             12
439 0         0              6
443 0         0             25
444 0         0             73
445 0         0             15
451 0         0              0
457 0         0              0
461 0         0              0
462 0         0             35
470 0         0              3
471 0         0              0